<h2>Contacts</h2>
<div class="row header">
    <div class="col-md-3">Name</div>
    <div class="col-md-3">Email</div>
    <div class="col-md-3">Phone</div>
    <div class="col-md-1">Edit</div>
    <div class="col-md-1">Delete</div>
</div>
<div *ngFor="let contact of contacts" class="row">
    <div class="col-md-3">{{contact.name}}</div>
    <div class="col-md-3">{{contact.email}}</div>
    <div class="col-md-3">{{contact.phone}}</div>
    <div class="col-md-1">
        <button class="btn btn-info" (click)="editContact(contact)">Edit</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-danger" (click)="deleteContact(contact._id)">Delete</button>
    </div>
</div>